.d-flex{
    display: flex;
}

ul{
    list-style: none;
}
a:link, a:visited{
    text-decoration: none;
    color: #000;
}

.img-fluid{
    width: 100%;
    object-fit: cover;
}

.section-heading{
    color: #000;
    margin: 30px 0;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
}
